* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 100vh;
  font-family: "Montserrat";
  background-color: black;
}

/* FOOTER */
.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  transition: background-color 0.7s ease;
  font-family: "Nasalization";
}

.navbar.opaque {
  background-color: #04000a;
}

.navbar.opaque .dropbtn {
  color: rgb(252, 252, 252);
}

.navbar.opaque a {
  color: rgb(255, 255, 255);
}

.navbar-links {
  gap: 3rem;
  display: flex;
  font-size: 16px;
  z-index: 99;
  margin-right: 2em;
}

.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 15px;
}

.image-button {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.image-button img {
  margin-right: 10px;
  width: 70px;
  height: 70px;
}

.dropdown button,
.contact {
  font-family: "Nasalization";
  font-weight: 600;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 10px 16px;
  background-color: inherit;
  margin: 0;
  cursor: pointer;
}

.navbar-links:hover,
.dropdown:hover .dropbtn {
  color: #ff004a;
}

.nabar-links,
.contact:hover {
  color: #ff004a;
}

.dropdown-content {
  border-top: 3px solid rgb(90, 0, 255);
  display: none;
  position: absolute;
  background-color: #04000a;
  min-width: auto;
  box-shadow: 1px 5px 14px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  color: rgb(90, 0, 255);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* SECTION 1 */
.carousel-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  transition: transform 1s ease;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  position: relative;
  box-sizing: border-box;
  z-index: -1;
}

.carousel-slide img {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 91.5em;
  object-fit: cover;
}

.carousel-text {
  font-size: 1.8em;
  text-align: center;
  position: absolute;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 2;
}

.carousel-slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.carousel-button {
  border: none;
  background-color: transparent;
  color: #ffffff;
  padding: 16px 50px;
  margin: 2em 20em;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bolder;
  font-family: "Ubuntu";
  cursor: pointer;
  position: relative;
  z-index: 1;
  letter-spacing: 2px;
}

.carousel-button::after,
.carousel-button::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 30%;
  border: 4px solid white;
  transition: all 0.6s ease;
  border-radius: 4px;
}

.carousel-button::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #ffffff;
  border-right-color: #ffffff;
}

.carousel-button::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
}

.carousel-button:hover:after,
.carousel-button:hover:before {
  width: 100%;
  height: 100%;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 3;
  font-size: 28px;
}

button.prev {
  left: 5em;
}

button.next {
  right: 5em;
}

button.prev:hover,
button.next:hover {
  color: #ff004a;
}

.divBtn{
  border: 3px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bolder;
  font-family: "Ubuntu";
  margin: 2em 20em;
  transition-duration: 0.4s;
  cursor: pointer;
  z-index: 1;
  border-radius: 15px;
  letter-spacing: 2px;
}

.divBtn:hover {
  background-color: #ffffff;
  color: black;
  font-weight: bolder;
  font-family: "Ubuntu";
  transition: 0.4s;
}

/* SECTION 2 */
.secondDiv,
.thirdDiv,
.forthDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

.secondDiv-box,
.thirdDiv-box,
.forthDiv-box {
  flex-direction: column;
}

.secondDiv-info,
.thirdDiv-info,
.forthDiv-info {
  font-size: 2em;
  margin: 0 5em;
}

.secondDiv-info h1,
.thirdDiv-info h1,
.forthDiv-info h1 {
  font-family: "Nasalization";
  margin-bottom: 70px;
}

.secondDiv-photo,
.thirdDiv-photo,
.forthDiv-photo {
  padding: 10em;
  max-width: 100%;
}

.secondDiv-photo img,
.thirdDiv-photo img,
.forthDiv-photo img {
  transform: rotate(10deg);
  width: 55em;
  height: 55em;
}

/* SECTION 3 */
.thirdDiv {
  background-color: rgb(26, 26, 26);
}

/* SECTION 4 */
.forthDiv {
  background-color: rgb(0, 0, 0);
}


